nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1E4022;
}

nav .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

nav .navbar-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}